.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px;
  background: #fff;
  border-bottom: 1px solid #E5E7EB;
  position: sticky;
  top: 0;
}
.header > .title{
  font-family:"MinSans-700";
  font-size: 1.75rem;
  color: #222;
  margin-left: 20px;
}
.faBrush{
  animation-duration: 5s;
  color: #7E22CE;
}